################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/investment_tracker_be/.vs/investment_tracker_be/FileContentIndex/8df6af3a-1e7c-45b1-8159-6a238fdc26d2.vsidx
